<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List Drama Korea
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="tab1-section">
  <ion-list>
  <ion-item>
    <ion-label>Crash Landing on You</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Goblin</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>A Business Proposal</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Strong Woman Do Bong Soon</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Legend of The Blue Sea</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Vincenzo</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>When Life Gives You Tangerines</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Alchemy of Souls</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Mr. Queen</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Alchemy of Souls Season 2: Light and Shadow</ion-label>
  </ion-item>
</ion-list>
</div>
</ion-content>
